@page "/counter"

<div class="alert alert-success mt-5" role="alert">
    Subscribe to Email Notification Disabled,<br>
    If you have not been vaccinated yet, Please visit nearest hospital and get Vaccinated!!
</div>

<NotificationAlert></NotificationAlert>