@page "/counter"

<h1>IN Developement </h1>

<div class="alert alert-success mt-5" role="alert">
    idea : User can subscribe for Auto Email Notification,<br>
    To get auto email alert when vacccine slots available for provided area and age limit.
</div>
