@page "/"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components;

<div class="content-wrapper">
    <h2>Check Vaccination Slots Availability</h2>

    @* Toggle - Search By Pin code and Serch By District code *@
    <MatTabBar @onclick="ToggleByPinCode" @bind-ActiveIndex="ActiveIndex">
        <MatTabLabel> Search By PinCode</MatTabLabel>
        <MatTabLabel>Search By District </MatTabLabel>
    </MatTabBar>

    @if (IsSearchByPin)
    {
        <SearchByPin SerchResult="SerchResult"/>        
    }
    else
    {
        <SearchByDistrict SerchResult="SerchResult"/>
    }

    <div id="component-container">
        @DynamicRender
    </div>

</div>

@code {
    private bool IsSearchByPin = true;
    private int ActiveIndex;
    private RenderFragment DynamicRender { get; set; }

    private void ToggleByPinCode()
    {
        if(ActiveIndex == 0)
        {
            IsSearchByPin = true;
            DynamicRender = null;
        }
        else
        {
            IsSearchByPin = false;
            DynamicRender = null;
        }
    }

    private void SerchResult(string apiUrl)
    {
        Dictionary<string, string> Attributes = new Dictionary<string, string>();
        Attributes.Add("apiUrl", apiUrl);
        DynamicRender = CreateComponent("SlotDetails", Attributes);
    }

    private RenderFragment CreateComponent(string ComponentName, Dictionary<string, string> Attributes) => builder =>
    {
        int i = 0;
        builder.OpenComponent(i++, typeof(SlotDetails));
        //builder.OpenComponent(i++,Type.GetType(ComponentName));
        foreach (var item in Attributes)
            builder.AddAttribute(i++,item.Key,item.Value);
        builder.CloseComponent();
    };

}

<style>
    /* Switch Styles */
    .content-wrapper {
        margin-top: 47px;
    }
    .mdc-tab-scroller__scroll-content{
        flex:none;
    }
</style>
